{% extends 'html/blank.html' %}
{% load static %}
{% block body %}
    <!-- <div class="container">
        <h1>{{data}}</h1>
        <ul>

        </ul>
    </div> -->
    <div class="container border p-4">
      <h1>{{ data.task_title }}</h1>
      <hr></hr>
      <span>{{ data.create_at }}</span>
      <div class="mt-2">
        <ul>
          {% for tasks in dump%}
            <li class=" p-4 rounded-3 mt-2">
              <input type="text" class="task_input" value="{{tasks.task_name}}">
            </li>
            <hr></hr>
          {% endfor %}
        </ul>
      </div>
      <!-- TEST STUFF -->
      <!-- TEST STUFF -->
      <div class="d-flex justify-content-end align-items-center">
        <button class="btn btn-success text-dark" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Update
        </button>
      </div>
    </div>
{% endblock %}
