ul{
    list-style: none;
}

li:hover{
    cursor: pointer;
    background-color: #cccccc;
}

.list_anchor{
    color: #222;
    text-decoration: none;;
}

.task_input{
    background-color: inherit;
    border: none;
    outline: none;
    width: 40vw;
}

.hide{
    visibility: hidden;
}